.close-button {
  position: absolute;
  right: 20px;
  top: 20px;
  width: 15px;
  opacity: 0.5;
  cursor: pointer;
  z-index: 999;
}

.bookmarks .close-button:hover {
  opacity: 1;
}

.bookmarks .urls, .bookmarks .loading {
  margin: 20px auto;
  width: 450px;
  position: relative;
}

.bookmarks .loading {
  padding-top: 50px;
  height: 130px;
}

.bookmarks .loading .spinner {
  margin: 0 auto;
  text-align: center;
  color: #fff;
  opacity: 0.1;
}

.bookmarks .loading p {
  font: 400 12px "San Francisco", "Open Sans", Times, "Verdana", sans-serif;
  color: rgba(255, 255, 255, 0.8);
  text-align: center;
  margin-top: 10px;
}

.bookmarks .loading strong {
  font-weight: 600;
}

.bookmarks .more-results-button {
  position: absolute;
  bottom: -50px;
  right: 0;
  padding: 12px 10px;
  color: #444;
  text-decoration: none;
  font-size: 12px;
}

.bookmarks .more-results-button:hover {
  color: #222;
}

.bookmarks .more-results-button img {
  position: absolute;
  width: 17px;
  margin: -2px 0 0 -26px;
  opacity: 0.9;
}

.bookmarks .more-results-button:hover {
}
