.button {
  border: 1px solid rgba(255, 255, 255, 0.5);
  background: rgba(0, 0, 0, 0.05);
  padding: 25px;
  border-radius: 50%;
  cursor: pointer;
  opacity: 0.95;

  -webkit-transition: border-color 0.2s ease-in, background 0.2s ease-in, -webkit-transform .5s ease-in-out;
  -moz-transition: border-color 0.2s ease-in, -moz-transform .5s ease-in-out;
  -o-transition: border-color 0.2s ease-in, -o-transform .5s ease-in-out;
  transition: border-color 0.2s ease-in, background 0.2s ease-in, transform .5s ease-in-out;
}

.button:hover {
  opacity: 1;
  background: transparent;
  border-color: #fff;

  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  transform: rotate(360deg);
}

.button img {
  width: 50px;
  height: 50px;
}
