.likes {
  margin-top: 20px;
  font: 400 16px "San Francisco", "Open Sans", Times, "Verdana", sans-serif;
}

.likes h1 {
  margin: 0 0 20px 25px;
  padding: 0;
  text-align: left;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  text-transform: uppercase;
  font: 400 12px "San Francisco", "Open Sans", Times, "Verdana", sans-serif;
  letter-spacing: 0.5px;
  color: #fff;
  opacity: 0.5;
}

.likes h1 span {
  padding-bottom: 3px;
  text-transform: uppercase;
  border-bottom: 1px dotted rgba(255, 255, 255, 0.5);
}

.likes ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.likes .like {
  width: 100%;
  margin-bottom: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #fff;
}

.likes .like .icon {
  position: absolute;
  width: 17px;
  height: 17px;
  background: no-repeat center;
  background-size: cover;
  border-radius: 50%;
  margin-top: 3px;
  opacity: 0.5;
}

.likes .like:hover .icon {
  opacity: 1;
}

.likes .like a {
  margin-left: 23px;
  color: rgba(255, 255, 255, 0.8);
  text-decoration: none;
  line-height: 24px;
}

.likes .like a:hover {
  color: #fff;
}
