.menu-closed .menu {
  display: none;
}

.menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu li {
  float: left;
  margin: 15px;
}

.menu .title {
  color: #fff;
  height: 25px;
  text-align: center;
  letter-spacing: 1px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
}
