html, body, .newtab {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  font: 400 14px "San Francisco", "Open Sans", "Verdana", sans-serif;
  background: #F9F9FA;
}

* {
  font-weight: normal;
  -webkit-font-smoothing: antialiased !important;
  -moz-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.clear {
  clear: both;
}

@-webkit-keyframes expand {
  from { max-height: 0%; }
  to { max-height: 70%; }
}

@keyframes expand {
  from { max-height: 0%; }
  to { max-height: 70%; }
}

@-webkit-keyframes fade {
  from { opacity: 0 }
  to { opacity: 1 }
}

@keyframes fade {
  from { opacity: 0 }
  to { opacity: 1 }
}
