.recent-likes {
  margin-top: 20px;
  font: 400 16px "San Francisco", "Open Sans", Times, "Verdana", sans-serif;
}

.recent-likes h1 {
  margin: 0 0 20px 25px;
  padding: 0;
  text-align: left;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  text-transform: uppercase;
  font: 400 12px "San Francisco", "Open Sans", Times, "Verdana", sans-serif;
  letter-spacing: 0.5px;
  color: #fff;
  opacity: 0.5;
}

.recent-likes h1 span {
  padding-bottom: 3px;
  text-transform: uppercase;
  border-bottom: 1px dotted rgba(255, 255, 255, 0.5);
}

.recent-likes ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.recent-likes .non-media {
  float: left;
  width: 50%;
}

.recent-likes .media {
  float: right;
  width: calc(50% - 41px);
  margin-left: 20px;
  border-left: 1px solid rgba(255, 255, 255, 0.1);
  padding-left: 20px;
}

.recent-likes .media .like {
  float: left;
  width: calc(50% - 10px);
  height: 92px;
  margin: 5px 5px 0 0;
  opacity: 0.8;
}

.recent-likes .media .like:hover {
  opacity: 1;
}

.recent-likes .media .like a {
  display: block;
  background: no-repeat center;
  background-size: 120%;
  border-radius: 5px;
  height: 100%;
}

.recent-likes .non-media .like {
  width: 100%;
  margin-bottom: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #fff;
}

.recent-likes .non-media .like .icon {
  position: absolute;
  width: 17px;
  height: 17px;
  background: no-repeat center;
  background-size: cover;
  border-radius: 50%;
  margin-top: 3px;
  opacity: 0.5;
}

.recent-likes .non-media .like:hover .icon {
  opacity: 1;
}

.recent-likes .non-media .like a {
  margin-left: 23px;
  color: rgba(255, 255, 255, 0.8);
  text-decoration: none;
  line-height: 24px;
}

.recent-likes .non-media a:hover {
  color: #fff;
}
