.results {
  background: #fff;
  border: 1px solid #ddd;
  border-top: 0;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  position: relative;
  border-top: 1px dotted #ddd;
  min-height: 320px;
}

.results-rows {
  float: left;
  width: calc(65% - 15px);
  margin-left: 15px;
}

.noresults {
  padding: 15px;
  font: 14px "Open Sans", sans-serif;
  text-align: center;
  color: #666;
}
