.search-input, .search-input .icon {
  -webkit-transition: all 0.1s ease-in;
  -moz-transition: all 0.1s ease-in;
  -o-transition: all 0.1s ease-in;
  transition: all 0.1s ease-in;
}

.search-input {
  margin: 0 auto;
  border: 1px solid #ddd;
  background: #fff;
  border-radius: 5px;
  border-bottom: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.search-input:hover {
  border-color: #ccc;
}

.search-input .logo {
  width: 80px;
  height: 80px;
  background: url(./images/icon128.png) no-repeat center;
  background-size: cover;
  margin: 0 auto 15px auto;
}

.search-input .input {
  width: calc(100% - 55px);
  height: 22px;
  color: #333;
  padding: 10px 10px 10px 45px;
  font: 400 18px "San Francisco", "Open Sans", Times, "Verdana", sans-serif;
  outline: none;
  border: 0;
  background: transparent;
}

.search-input ::-webkit-input-placeholder { /* Chrome */
  color: #aaa;
}

.search-input .icon {
  position: absolute;
  margin: 9px 0 0 10px;
  height: 25px;
  color: #ccc;
  cursor: pointer;
}

.search-input .icon:hover {
  color: #aaa;
}
