.settings {
  position: absolute;
  overflow: hidden;
  top: 0;
  right: 0;
  width: 350px;
  height: 100%;
  z-index: 9999;


  /*-webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;*/
}

.settings .icon {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 25px;
  height: 25px;
  opacity: 0.7;
  cursor: pointer;
}

.settings .icon:hover {
  opacity: 1;
}
