.sidebar {
  border-left: 1px dotted #ddd;
  position: absolute;
  width: 35%;
  height: calc(100% - 1px);
  right: 0;
  z-index: 1;
}

.has-tags .sidebar {
  height: calc(100% - 51px);
}

.sidebar .link {
  text-decoration: none;
}

.sidebar .url-image {
  margin: 10px;
  height: 125px;
  background: no-repeat center center;
  background-size: auto 50px;
}

.sidebar .url-image.generated-image {
  width: calc(100% - 20px);
}

.sidebar .url-image.generated-image span {
  font: 100 36px "Open Sans", sans-serif !important;
}

.sidebar .url-image.image {
  background-size: cover;
}

.sidebar h1 {
  font: 400 18px "Open Sans", sans-serif;
  margin: 0 10px;
  color: #111;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.sidebar h2 {
  font: 400 14px "Open Sans", sans-serif;
  margin: 0 10px;
  color: #666;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.sidebar .buttons {
  margin-top: 20px;
  padding: 10px;
  text-align: left;
}

.sidebar .button {
  display: block;
  margin: 5px 0;
  padding: 10px 10px 10px 35px;
  background: transparent;
  color: #444;
  font: 400 14px "Open Sans", sans-serif !important;
  text-transform: none;
  letter-spacing: 0;
  background: #f5f5f5;
  position: relative;
  cursor: pointer;
  border: 1px solid #fff;
  border-radius: 3px;
  text-decoration: none;
}

.sidebar .button .icon {
  height: 18px;
  color: #666;
  position: absolute;
  left: 10px;
  height: 20px;
}

.sidebar .button.like-button.liked .icon {
  color: #dd2200;
}

.sidebar .button:hover {
  background: #fff;
  color: #111;
  border-color: #ddd;
}
