.urlicon {
  display: block;
  cursor: pointer;
  padding: 5px 5px 5px 46px;
  position: relative;
  text-decoration: none;
  margin-top: 10px;

  -webkit-transition: background 0.1s ease-in;
  -moz-transition: background 0.1s ease-in;
  -o-transition: background 0.1s ease-in;
  transition: background 0.1s ease-in;
}

.urlicon .url-image {
  position: absolute;
  left: 8px;
  top: 50%;
  margin-top: -15px;
  width: 30px;
  height: 30px;
  background: #fff no-repeat center;
  background-size: contain;
}

.urlicon .title {
  color: #222;
  font: 400 16px "Open Sans", Times, "Verdana", sans-serif;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  -webkit-transition: color 0.1s ease-in;
  -moz-transition: color 0.1s ease-in;
  -o-transition: color 0.1s ease-in;
  transition: color 0.1s ease-in;
}

.urlicon .url {
  font: 400 12px "Open Sans", Times, "Verdana", sans-serif;
  color: #888;
  -webkit-transition: color 0.1s ease-in;
  -moz-transition: color 0.1s ease-in;
  -o-transition: color 0.1s ease-in;
  transition: color 0.1s ease-in;

  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.urlicon .default-image {
  display: block;
  width: 60px;
  height: auto;
  margin: 10px auto;
  opacity: 0.2;
}

.urlicon:hover {
  background: #ccc;
}

.urlicon.selected {
  background: #28cab7;
}

.urlicon:hover .title, .urlicon.selected .title {
  color: #fff;
}

.urlicon:hover .url, .urlicon.selected .url {
  color: rgba(255, 255, 255, 0.7);
}
