.buttons {
  text-align: center;
}

.button {
  display: inline-block;
  margin: 0 auto;
  background: #666;
  color: #fff;
  padding: 10px 15px 10px 35px;
  font: 700 12px/21px Open Sans,sans-serif !important;
  letter-spacing: 1px;
  text-transform: uppercase;
  cursor: pointer;
  transition: all .1s ease-in;
  position: relative;
}

.button:hover {
  background: #ec5348;
}

.button:first-child {
  margin-right: 5px;
}

.button .icon {
  position: absolute;
  left: 10px;
  top: 9px;
  height: 22px;
  color: #fff;
}
