.dialog {
  margin-top: 15px;
  padding-bottom: 20px;
}

.dialog h2 {
  font: 800 18px "", "Open Sans", sans-serif;
  color: #444;
  text-align: center;
  margin-bottom: 5px;
}

.dialog .desc {
  text-align: center;
  font: 14px "Open Sans", sans-serif;
  color: #666;
  margin-bottom: 20px;
}

.dialog .footer {
  border-top: 1px solid #ddd;
  margin: 30px 20px 10px 20px;
  padding-top: 15px;
}

.dialog .footer .icon {
  width: 20px;
  float: right;
  color: #666;
  cursor: pointer;
}

.dialog .footer .icon:hover {
  color: #333;
}
