html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow: hidden;
}

.container {
  background: #f9f9f9;
  border: 2px solid #fff;
  width: 250px;
  font: 600 14px "Open Sans", sans-serif;
}

* {
  -webkit-font-smoothing: antialiased !important;
  -moz-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}

h1 {
  background: #fff url(https://getkozmos.com/public/logos/kozmos-heart-logo-50px.png) no-repeat 12px center;
  background-size: 30px;
  margin: 0;
  position: relative;
  padding: 5px 10px 10px 50px;
  height: 30px;
}

h1 a {
  font: 400 18px/1.8 "Open Sans", sans-serif;
  color: #333;
  letter-spacing: 1.5px;
  text-decoration: none;
  margin: 0;
  padding: 0;
}

h1 a:hover {
  color: #000;
}

h1 .icon {
  color: #666;
  position: absolute;
  top: 8px;
  height: 20px;
  right: 10px;
  cursor: pointer;
}

h1 .icon:hover {
  color: #333;
}
