.tagging-form {
  margin: 15px 0;
}

.tagging-form h3 {
  font: 12px "PT Mono", sans-serif;
  text-transform: uppercase;
  margin: 10px 0 5px 5px;
  color: #666;
}

.tagging-form .loading {
  font: 12px "PT Mono", sans-serif;
  text-transform: uppercase;
  margin: 20px 0;
  text-align: center;
  color: #666;
}

.tag-editor {
  margin: 10px 20px;
  padding: 5px 10px;
  background: #fff;
  border: 1px solid #eee;
}

.tag-editor .tags {
  border-bottom: 1px dotted #ccc;
  padding-bottom: 5px;
  margin-bottom: 5px;
  margin-top: 5px;
}

.tag-editor .tag {
  display: inline-block;
  position: relative;
  background: #00b473;
  color: #fff;
  padding: 5px 20px 7px 10px;
  font: 400 14px "Open Sans", sans-serif;
  cursor: pointer;
  margin: 2px;
  -webkit-transition: all 0.1s ease-in;
  -moz-transition: all 0.1s ease-in;
  -o-transition: all 0.1s ease-in;
  transition: all 0.1s ease-in;
}

.tag-editor .tag:hover {
  background: #888;
}

.tag-editor .remove {
  position: absolute;
  right: 5px;
  top: calc(50% - 7px);
  width: 14px;
  height: 14px;
  color: #fff;
  background: no-repeat 0 0 url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='14' height='14' color='%23FFF'%3E%3Cpath stroke='currentColor' stroke-linecap='round' d='M4 10l6-6M4 4l6 6'/%3E%3C/svg%3E");
}

.tag-editor input {
  width: 100%;
  display: inline-block;
  outline: none;
  border: 0;
  font: 400 14px "Open Sans", sans-serif;
  color: #444;
  line-height: 30px;
}

.tag-editor .suggestions {
  width: calc(100% + 20px);
  list-style: none;
  margin: 10px 0 -10px -10px;
  padding: 0;
  background: #f8f8f8;
  color: #555;
  font: 400 14px "Open Sans", sans-serif;
}

.tag-editor .suggestions li {
  padding: 10px 23px 10px 10px;
  cursor: pointer;
  position: relative;
}

.tag-editor .suggestions li.selected {
  background-color: #f2f2f2;
  color: #333;
}

.tag-editor .suggestions li a {
  position: absolute;
  top: calc(50% - 7px);
  right: 5px;
  width: 14px;
  height: 14px;
  background: no-repeat center url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='14' height='14' color='%2387929D'%3E%3Cpath fill='none' stroke='currentColor' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 11l4-4-4-4'/%3E%3C/svg%3E");
}

.tag-editor .suggestions li a:hover {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='14' height='14' color='%232F3941'%3E%3Cpath fill='none' stroke='currentColor' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 11l4-4-4-4'/%3E%3C/svg%3E");
}
